In [ ]:
#Q1
-The keyword used to create function is "def" short for define.

In [11]:
def odd_num():
    """function to return a list of odd numbers in the range of 1 to 25.""" 
    l1=[25]
    l2=[]
    for i in range(25):
        if i % 2 == 1:
            l1.append(i)
        else :
            l2.append(i)
    return l1

In [12]:
odd_num()

[25, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [ ]:
#Q2
-*args (Non-keyworded variable-length arguments):*args is used in a function definition, it allows you to pass a
variable number of arguments to that function, the arguments passed using args are treated as a tuple. 
we can use any name instead of "args", but the asterisk (*) is required to indicate that it represents multiple arguments.

**kwargs (Keyworded variable-length arguments): Similar to *args, when **kwargs is used in a function definition, 
it allows you to pass a variable number of keyword arguments to that function.
Inside the function, the keyword arguments passed using kwargs are treated as a dictionary.

In [19]:
"""eg of *args function"""
def my_function(*args):
        return args

In [20]:
my_function(1,2,3)

(1, 2, 3)

In [1]:
"""eg of **kargs function"""
def my_function(**kwargs):
    return kwargs

In [2]:
my_function(a="abhishek", b="raj")

{'a': 'abhishek', 'b': 'raj'}

In [ ]:
#Q3
-In Python, an iterator is an object that implements the iterator protocol, which consists of the __iter__() and __next__() methods. 
It allows you to iterate over a sequence of elements, such as a list, tuple, or custom-defined object, in a sequential manner.

In Python, the method used to initialize the iterator object is __iter__(), and the method used for iteration is __next__().

__iter__():
The __iter__() method is called when an iterator object is created and returns the iterator object itself.
It initializes the iterator's internal state and prepares it for iteration.

__next__():
The __next__() method is called to fetch the next element from the iterator.
It advances the iterator's internal state and returns the next element in the sequence.

In [27]:
given_list = [2,4,6,8,10,12,14,16,18,20]
list_iter = iter(given_list)

In [28]:
next(list_iter)

2

In [29]:
next(list_iter)

4

In [30]:
next(list_iter)

6

In [31]:
next(list_iter)

8

In [32]:
next(list_iter)

10

In [ ]:
#Q4
-A generator function is a special type of function that generates an iterator object.
Unlike regular functions that return a single value and then terminate, 
generator functions can pause and resume their execution, allowing for efficient memory usage and lazy evaluation.
It uses the yield keyword instead of return to produce a sequence of values one at a time.

In [32]:
"""eg of generator functions"""
def number_generator(n):
    for i in range(n):
        yield i

In [33]:
a= number_generator(10)
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
#Q5
def prime_generator():
    primes = []
    for num in range(2, 1000):
        is_prime = True
        for prime in primes:
            if num % prime == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
            yield num

In [12]:
generator = prime_generator()

for prime in generator:
    print(prime)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [23]:
#Q6
"""using while 
findiing the fibonacci sequence"""

def find_fib():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b

In [24]:
fib=find_fib()

In [25]:
for i  in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [1]:
#Q7
string = 'pwskills'
l=[]
for i in string:
    l.append(i)
print(l)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [10]:
#Q8
a = int(input("enter the number"))
reverse = 0
x = a
while(a>0):
    reverse= (reverse*10) + a% 10
    a= a//10
    
if x == reverse:
    print("given number is a palindrome")
    
else:
    print("not a palindrome")

enter the number 121

given number is a palindrome

In [2]:
#Q9
create_list=list(range(101))

In [3]:
create_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [4]:
odd_numbers=list(filter(lambda x: x % 2 == 1 , create_list))

In [5]:
odd_numbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]